<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionsStrings>
    <add name ="UABCSDB" connectingString ="Server=SQL(SQL Server 13.0.4001 - DBSAMANET\iuliu); DataBase = UABCSDB; Treusted_Connection = true;" providerName ="System.Data.SqlClient">
      
    </add>
  </connectionsStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>